{% extends 'signup.html' %}



{% block title %}
   <title>signin</title>
{% endblock %}

{% block body_block %}
<body>
    <div class="card row mt-5 col-md-6 col-auto"  >
        <div class="card-header bg-primary text-white text-center">
            <h2>signin</h2>
            
          </div>
            <div class="card-body bg-light">
                <form id="user-form">
                    <div class="form-group">
                        <input type="text" placeholder="Enter Email" class="form-control" id="username"> 
                      </div>
                      <div class="form-group">
                        <input type="password" placeholder="Enter Password" class="form-control" id="username">
                        
                      </div>
                      <div class="form-group">
                        <a href="{% url 'signin' %}"><button type="button" class="btn btn-primary">signin</button></a>
                      </div>

                </form>

            </div>
          
    </div>
</body>
{% endblock %}